# Sample for ecrets that shouls be kept in overlays
# Format: secret-name/key:value

# Calibre
calibre-secrets/admin-password:

# Keycloak
keycloak-db-secrets/db-name:
keycloak-db-secrets/db-user:
keycloak-db-secrets/db-password:
keycloak-db-secrets/db-port:5432
keycloak-db-secrets/admin-user:
keycloak-db-secrets/admin-password:

# Mattermost
mattermost-db-secrets/db-name:
mattermost-db-secrets/db-user:
mattermost-db-secrets/db-password:
mattermost-db-secrets/db-port:5432

# Mealie
mealie-db-secrets/db-name:
mealie-db-secrets/db-user:
mealie-db-secrets/db-password:
mealie-db-secrets/db-port:5432

# Taskboard
taskboard-secrets/realm:
taskboard-secrets/client-id:
taskboard-secrets/client-secret:

# Invval
invval-secrets/realm:
invval-secrets/client-id:
invval-secrets/client-secret:

# Plex
plex-secrets/claim-token:

# Grafana
grafana-secrets/admin-password:
